* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bebas Neue", sans-serif;
}

.division1 {
  font-size: 50px;
  color: rgb(239, 175, 56);
  text-align: center;
  font-weight: bold;
  border: 5px solid black;
  background-image: url("../images/FONDCR2.jpg");
  border-color: rgb(238, 175, 56);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0;
}

.container-card {
  display: flex;
  flex-direction: column;
}

.container-card:hover .text-card {
  text-align: center;
  opacity: 1; 
}

.text-card{
  bottom: 150px;
  background-color: rgb(239, 181, 74);
  color: white;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
}

.dragon{  
  margin-top: 1px;
}

.logo {
  width: 250px;
  height: auto;
  margin-bottom: 10px;
}

.header {
  display: flex;
  justify-content: center;
  background-image:url("../images/fondcr.png");
}

.sous-texte {
  font-size: 25px;
  color: oklch(239,175,56);
  text-align: center;
  font-weight: lighter;
}

.division2 {
  background-image: url("../images/fondcr.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  padding-bottom: 30px;
}

.division2 img {
  width: 400px;
  height: 400px;
  object-fit: contain;
}

.debloquer{
  font-size: 50px;
  text-align: center;
  color: rgb(235, 183, 87);
}

.debloquer{
  font-size: 50px;
  color: rgb(239, 175, 56);
  text-align: center;
  font-weight: bold;
  border: 2.5px solid black;
  background-image: url("../images/FONDCR2.jpg");
  border-color: rgb(238, 175, 56);
}


.division3{
  background-image: url("../images/fondcr.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.division3 img {
  width: 400px;
  height: 400px;
  object-fit: contain;
}

.bloquer{
  font-size: 50px;
  color: rgb(239, 175, 56);
  text-align: center;
  font-weight: bold;
  border: 2.5px solid black;
  background-image: url("../images/FONDCR2.jpg");
  border-color: rgb(238, 175, 56);
}

.bloquer a {
  text-decoration: none;
  color: white;
}